
#project_icon{
    height: 20px;
    display: inline-block;
    
}
.container{
    width: 100vw;
}

.darkMode i{
    font-size: 24px;
    padding-right: 60px;
    
}


@media only screen and (min-width: 991px) {
    #navbar {
        position: sticky;
        display: flex;
        width: 100%;
        height: 60px;
        padding: 0 300px;
        z-index: 1;
        top: 0;
        margin-bottom: 50px;
    }
    .bar_logo {
        visibility: hidden;

    }
    .darkMode i{
        font-size: 24px;
        padding-right: 60px;
        
    }

    .mode {
        width: 200px;
    }

    .nav-item {
        position: relative;
        padding: 0 20px;
    }
    
    .nav-item:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 90%;
        background-color: #24A8FF;
        transition: transform 0.2s ease;
        border-radius: 25%;
        transform: translateX(-50%) scaleX(0);
    }
    
    .nav-item:hover:before {
        transform: translateX(-50%) scaleX(1);
    }
    
    .nav-item.active:before {
        transform: translateX(-50%) scaleX(1);
    }

    .form-check-label {
        font-size: 14px;
        width: 100px;
    }

    .profile_container {
        margin: auto;
        border: 1px solid rgb(58, 45, 45);
        box-shadow: 2px 2px 10px;
        border-radius: 15px;
        min-height: 100vh;
        max-height: fit-content;
        width: 600px;
    }

    .head {
        height: 170px;
    }

    .container-fluid {
        justify-content: space-between;
    }

    #carouselExampleIndicators {
        display: flex;
        height: 40%;
    }

    .custom-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* Ensures the caption takes the full height of the parent carousel item. */
    }




    /* footer */
    .card {
        margin-top: 40px;
    }

    .card-body {
        height: 160px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }

    .card-text {
        height: 100%;
        width: 600px;
        margin: auto;
        font-size: 20px;
    }

    #social_media {
        width: 400px;
    }

    #social_media i {
        margin: 0 10px;
        font-size: 40px;
    }
    
    /*projects.php*/
    .project_body {
        display: flex;
        min-height: 100vh;

    }
    .project_container{
        width: 50vw;
        justify-content: center;
        margin: auto;
    }
    .project_container h1{
        display: none;
    }
    .project_body .card{
        margin:40px  auto ;
        width: 35rem;
    }
    .card .card-body{
        margin: 0%;
    }
    .card-title{
        margin: 10px;
    }
    .card-text{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        

    text-align: justify;
    }

    /* project detail page */
    
    .facultyDetailContainer{
        width: 800px;
        padding: 50px 0;
        margin: auto;
        text-align: justify;
    }

    .facultyDetailParagraph{
        margin: 5px;
        letter-spacing: 1px;
    }
    .facultyDetailParagraph img {
        float: left;
        width: 500px;
        height: auto;
        margin: 10px 20px 20px 0px;
        

    }
    .facultyDetailParagraph p{
        line-height: 20px;
        

    }
}

@media only screen and (max-width: 990px) {
    #navbar {
        position: sticky;
        display: flex;
        height: 50px;
        width: 100%;
        z-index: 1;
        top: 0;
        margin-bottom: 20px;
    }
   
    .bar_logo {
        padding:0 10px;
        font-size: 20px;

    }
    .darkMode i{
        font-size: 24px;
        padding-right: 30px;
        
    }   
    .dropdown-item {
        position: relative;
    }
    
    .dropdown-item:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 90%;
        background-color: #24A8FF;
        transition: transform 0.2s ease;
        border-radius: 25%;
        transform: translateX(-50%) scaleX(0);
    }
    
    .dropdown-item:hover:before {
        transform: translateX(-50%) scaleX(1);
    }
    .dropdown-item.active  {
        color: inherit; /* Reset the color or set to your preferred color */
    }
    .dropdown-item.active:before {
        transform: translateX(-50%) scaleX(1);
    }
    .profile_container {
        margin: auto;
        border: 1px solid rgb(58, 45, 45);
        box-shadow: 2px 2px 10px;
        border-radius: 15px;
        min-height: 100vh;
    }
    .photo {
        display: flex;
        width: 100px;
        height: 100px;
    }
    #profile_pic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid rgb(94, 81, 81);
        box-shadow: 1px 1px 3px;
    }
    .card {
        display: flex;
        margin-top: 50px;
    }
    .profile_container .card-text {
        display: block;
    }
    .social_media {
        display: grid;
    }
    .name {
        margin-left: 120px;
    }
    #social_media {
        text-align: center;
    }
    #social_media a i {
        font-size: 30px;
        margin: 10px 7px;
    }
    
    /*projects.php*/
    .project_body {
        height: 100%;
        width: 100%;
        display: block;
        overflow: hidden;
    }
    .project_container h1{
        border-bottom: 3px solid rgb(44, 44, 177); /* Adjust thickness and color */
        display: inline-block;
        margin: 5px 40px;
        
    }
    
    .project_container{
        justify-content: center;
    }
    .project_body .card{
        margin: 20px 40px;
    }
    .project_body .card-text{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        text-align: justify;
    }
    
    /* project detail page */
    
    .facultyDetailContainer{
        width: 80%;
        padding: 50px 0;
        margin: auto;
        text-align: justify;
        
    }

    .facultyDetailParagraph{
        margin: auto;
        letter-spacing: 1px;
    }
    .facultyDetailParagraph p{
        display: flex;
    }
    .facultyDetailParagraph p img {
        width: 100%;
        margin: auto;

    }
    .facultyDetailParagraph p{
        line-height: 20px;
        

    }
}

.profile_container {
    
    overflow: hidden;
}

.photo_bg {
    display: flex;
    height: 170px;
    width: 100%;
    background-image: url('img/bg.webp');
    background-size: cover;
    /* Adjust to your preference */
    background-repeat: no-repeat;
    background-position: center center;
}

.head .photo_bg p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    size: 20px;
    margin: auto;
}

.photo #profile_pic {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.photo {
    position: absolute;
    margin-top: -70px;
    margin-left: 7px;
    display: inline-block;

}

.name {
    display: flex;
    height: 80px;

}

.name h2 {
    margin: auto;
}

.description {
    width: 100%;
    height: auto;
    padding: 20px 30px;
    text-align: justify;
    line-height: 1.5;
}

.description p {
    text-indent: 80px;
}

.bio_table tr td {
    padding-right: 15px;
}
